.drink {
  display: flex;
  flex-direction: column;
  width: 15vw;
  margin: 2rem;
  padding: 0.5rem;
  border-radius: 5%;
  background-color: #2b536e;
}

h3 {
  text-align: center;
  margin-bottom: 0.5rem;
  color: #d9d9d9;
  letter-spacing: 0.1rem;
}

.img-container {
  display: flex;
  justify-content: center;
  margin: auto;
}

img {
  width: 5rem;
  height: auto;
  border-radius: 25%;
}
